body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
  }

a {
    text-decoration: none;
    color: #000000;
}

.list {
    list-style: none;
}

.up {
    text-transform: uppercase;
}

.headline {
    font-size: 45px;
    line-height: 45px;
}

.big-headline {
    font-size: 55px;
    line-height: 55px;
}

.text {
    font-size: 16px;
    line-height: 18px;
}

.grey {
    background-color: #eeeeee;
}

.headline-1 {
    font-size: 18px;
    line-height: 30px;
}

.headline-2 {
    font-size: 14px;
    line-height: 18px;
}

.headline-3 {
    font-size: 18px;
    line-height: 18px;
}

.headline-4 {
    font-size: 55px;
    line-height: 55px;
}

.headline-5 {
    font-size: 16px;
    line-height: 22px;
}

.headline-6 {
    font-size: 16px;
    line-height: 20px;
}

.price {
    color: #283136;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
    min-height: 125px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-header-logo img {
    margin-left: 140px;
    margin-top: 50px;
}

.site-navigation {
    text-align: center;
    margin-right: 1000px;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:focus {
    color: #000000;
    opacity: 70%;
}

.description {
    background-color: #eeeeee;
    text-align: left;
    margin-top: -45px;
}

.description-item {
    min-height: 415px;
    margin-left: 140px;
}

.description-item .specification {
    padding-top: 40px;
}

.slide-1 {
    background-image: url("../img/slide1.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 698px 413px;
}

.slide-2 {
    background-image: url("../img/slide2.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 663px 430px;
}

.slide-3 {
    background-image: url("../img/slide3.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 759px 411px;
}

.description-item .button {
    color: #ffffff;
    background-color: #fb565a;
}

.order-1 {
    background-image: url("../img/order-1.jpeg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 300px 146px;

}

.order-2 {
    background-image: url("../img/order-2.jpeg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 300px 146px;

}

.order-3 {
    background-image: url("../img/order-3.jpeg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 300px 146px;

}

.order-list {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 200px;
    padding-right: 100px;
    min-height: 510px;
}

.order-item {
    text-align: center;
}

.order-item h3 {
    font-size: 24px;
    line-height: 30px;
}

.order-item .button-1 {
    color: #ffffff;
    background-color: #fb565a;
}

.order-item .button-2 {
    color: #ffffff;
    background-color: #00ca74;
}

.order-item .button-3 {
    color: #ffffff;
    background-color: #efc84a;
}

.statistics {
    min-height: 525px;
    display: flex;
    justify-content: space-between;
}

.specification-list {
    margin-left: 140px;
    
    text-align: left;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}

.specification-list p {
    margin-top: 40px;
}

.specification-list h3 {
    margin-top: 50px;
}

.procent-info {
    text-align: right;
}

.procent-info img {
    margin-right: 55px;
}

.procent-info-list {
    margin-top: 40px;
    margin-right: 75px;
}

.procent-list {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.procent-item {
    padding-right: 25px;
}

.procent-item h2 {
    font-size: 45px;
    line-height: 10.06px;
}

.small-logo-list {
    display: flex;
    justify-content: space-between;
    min-height: 182px;
    margin-left: 165px;
    margin-right: 180px;
}

.filters h1 {
    text-align: center;
    background-color: #eeeeee;
}

.filters {
    text-align: left;
}

.sorting {
    text-align: right;
}

.catalog {
    text-align: center;
}

.catalog-info {
    background-color: #eeeeee;
}

.catalog-price {
    color: #ffffff;
    background-color: #fb565a;
}

.pages {
    text-align: center;
}

.current-page {
    border: 2px solid #eeeeee;
}

.map {
    color: #000000;
    background-image: url("../img/map.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 415px;
}

.marker {
    background-image: url("../img/map-marker.svg");
    background-position: 868px 90px;
    background-repeat: no-repeat;
    background-size: 231px 190px;
}

.map-info {
    padding-top: 115px;
    padding-left: 190px
}

.map-info h2 {
    font-size: 18px;
    line-height: 30px;
}

.map-contacts {
    padding-top: 35px;
}

.map-info .contact {
    padding-top: 25px;
}

.map-info a {
    color: #ffffff;
    background-color: #fb565a;
}

.text-us {
    width: 960px;
    min-height: 590px;
    padding-left: 100px;
    margin-top: 75px;
}

.text-us-form {
    display: flex;
}

.text-us-item .name {
    width: 360px;
    margin-right: 45px;
}

.text-us-item .e-mail {
    width: 360px;
}

.text-us-item .text {
    width: 760px;
}

.text-us button {
    color: #ffffff;
    background-color: #fb565a;
}

.footer-text {
    text-align: center;
}

.main-footer b {
    font-size: 36px;
    line-height: 36px;
}

.main-footer p {
    font-size: 16px;
    line-height: 22px;
}

.main-footer .list {
    display: flex;
    justify-content: space-between;
    min-height: 145px;
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 355px;
}

.main-footer .list p {
    padding-top: 15px;
